<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Home Page</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/add-contact.js"></script>
</head>

<body>
	<div class="panel panel-default center">
		<div class="panel-body">
			<div class="row row-buffer">
				<div class="col-lg-3">
					<label for="First Name">First Name</label>
				</div>
				<div class="col-lg-3">
					<input class="form-control" id="first-name" type="text" />
				</div>
				<div class="col-lg-3">
					<label for="Last Name">Last Name</label>
				</div>
				<div class="col-lg-3">
					<input class="form-control" id="last-name" type="text" />
				</div>
			</div>
			<div class="row row-buffer">
				<div class="col-lg-3">
					<label for="Mobile">Mobile #</label>
				</div>
				<div class="col-lg-3">
					<input class="form-control" id="mobile" type="number" />
				</div>
				<div class="col-lg-3">
					<label for="email">Email</label>
				</div>
				<div class="col-lg-3">
					<input class="form-control" id="email" type="email" />
				</div>
			</div>
			<div class="row row-buffer">
				<div class="col-lg-3">
					<label for="Address">Address</label>
				</div>
				<div class="col-lg-3">
					<textarea class="form-control" id="address" rows="5" cols=""></textarea>
				</div>
			</div>
			<div class="row row-buffer text-center">
				<div class="col-lg-12">
					<button class="btn btn-primary" id="save-contact">Save Contact</button>
				</div>
			</div>
		</div>

	</div>


</body>

</html>